doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard
        style 
            //- include src/styles/normalize.css
            include src/styles/style.css
    body
        .container 
            aside.sidebar       
                a.sidebar-link(href="#")   
                    svg.sidebar-link__logo
                        use(href='src/images/sprite.svg#logo') 
                    span.sidebar-link__title DASHBOARD
                        span.sidebar-link__doptitle v.01 
                nav 
                    ul.list 
                        li.item
                            a.item-link(href="")
                                svg.item-link__logo
                                    use(href='src/images/sprite.svg#icon-key-square')
                                | Dashboard
                        li.item
                            a.item-link(href="")
                                svg.item-link__logo
                                    use(href='src/images/sprite.svg#icon-d-square-1')
                                | Product 
                                svg.item-link__logo2
                                    use(href='src/images/sprite.svg#icon-chevron-right-2') 
                        li.item
                            a.item-link(href="")
                                svg.item-link__logo
                                    use(href='src/images/sprite.svg#icon-user-square-1')
                                | Customers 
                                svg.item-link__logo2
                                    use(href='src/images/sprite.svg#icon-chevron-right-2')  
                        li.item
                            a.item-link(href="") 
                                svg.item-link__logo
                                    use(href='src/images/sprite.svg#icon-wallet-money-2')
                                | Income
                                svg.item-link__logo2
                                    use(href='src/images/sprite.svg#icon-chevron-right-2') 
                        li.item
                            a.item-link(href="")
                                svg.item-link__logo
                                    use(href='src/images/sprite.svg#icon-discount-shape-1')
                                | Promote
                                svg.item-link__logo2
                                    use(href='src/images/sprite.svg#icon-chevron-right-2') 
                        li.item
                            a.item-link(href="")
                                svg.item-link__logo
                                    use(href='src/images/sprite.svg#icon-message-question-1')
                                | Help
                                svg.item-link__logo2
                                    use(href='src/images/sprite.svg#icon-chevron-right-2')
                .dev 
                    img.dev__foto(src="src/images/evano.jpg", alt="men")
                    .dev-name 
                        h2.dev-name__title Evano
                        p.dev-name__prof Project Manager


            .main-content
                header
                    h1 Hello Evano 
                    img(src="src/images/Hello.png", alt="hello")
                
                section.customer-table
                    .customer-table__block
                        .customer-table__box
                            h2 All Customers
                            p Active Members
                        .customer-table__search-bar
                            svg.customer-table__icon
                                use(href='src/images/sprite.svg#icon-search-1') 
                            input(type="text" placeholder="Search")

                    table
                        thead
                            tr
                                th Customer Name
                                th Company
                                th Phone Number
                                th Email
                                th Country
                                th.status Status
                        tbody
                            tr
                                td Jhon Wick
                                td Microsoft
                                td +123 456 789
                                td jhon@wick.com
                                td USA
                                td
                                    span Acive 
                            tr
                                td Jane Doe
                                td Google
                                td +987 654 321
                                td jane@doe.com
                                td Canada
                                td 
                                    span.span Inactive
                            tr
                                td Jhon Wick
                                td Microsoft
                                td +123 456 789
                                td jhon@wick.com
                                td USA
                                td
                                    span.span Inactive
                            tr
                                td Jane Doe
                                td Google
                                td +987 654 321
                                td jane@doe.com
                                td Canada
                                td 
                                    span Active
                            tr
                                td Jhon Wick
                                td Microsoft
                                td +123 456 789
                                td jhon@wick.com
                                td USA
                                td
                                    span Acive 
                            tr
                                td Jane Doe
                                td Google
                                td +987 654 321
                                td jane@doe.com
                                td Canada
                                td 
                                    span Active
                            tr
                                td Jhon Wick
                                td Microsoft
                                td +123 456 789
                                td jhon@wick.com
                                td USA
                                td
                                    span Acive 
                            tr
                                td Jane Doe
                                td Google
                                td +987 654 321
                                td jane@doe.com
                                td Canada
                                td 
                                    span.span Inactive
                            

                    .paginations
                        span Showing data 1 to 8 of 256K entries
                        .paginations-controls
                            .span 
                                a(href="#")  
                            .span 
                                a(href="#") 1                         
                            .span 
                                a(href="#") 2
                            .span 
                                a(href="#") 3
                            .span 
                                a(href="#") 4
                            .span 
                                a(href="#") ...
                            .span 
                                a(href="#") 40
                            .span 
                                a(href="#")   

                    